numpy==1.19.5
azure-core==1.12.0
azureml-automl-core==1.28.0
azureml-core==1.28.0
azureml-sdk
Flask==2.0.0
Jinja2==3.0.1
Pillow==8.2.0
tensorflow==2.4.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
six~=1.15.0
